# Conda environment configuration file for virtual environment
# `ti3111tu-2023`, for use in the Digital Exam Environment
#
# This file is chained from its YAML-parent file.
#
# pip-packages
#
# Bart H.M. Gerritsen (EWI), version: 2023.07-0
#
- pyvisgraph
